<div class="footer  navbar-inverse navbar-bottom">
  <div class="container-fluid">
    <div class="footer-address footer-text">
      Техподдержка
      <br>
      <a href="mailto:#">konstantin.astapov@akadplus.ru</a>
    </div>
    <div class = "footer-text-right">
      <a href="http://astapovk.ru"> © 2017 ООО АКАД ПЛЮС</a>
       {{ver}}
    </div>
  </div>
</div>
