<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Доступ закрыт!</h1>
                <h4>
                    Чтобы просматривать содержание данного урока Вы должны стать участником группы</h4>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Вернуться назад </a>
                </div>
            </div>
        </div>
    </div>
</div>
