<div class="panel panel-default">
  <div class="panel-body">
        {{lesson.title}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
        {{lesson.content}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
        {{lesson.hometask}}
  </div>
</div>
