  <div id="help" class="container-fluid" >
  <h2 class='welcomeText'> Добро пожаловать на сайт</h2>
  <h1 class='welcomeText'>"Онлайн-Школа"</h1>
  </div>
  <div class="container-fluid">
  <div class="row">
   <div class="col-sm-4 tpk" ><h2>Учеба в интернете - легко!</h2><br><p>Изучайте интересующие Вас предметы онлайн с лучшими преподавателями Masters о в удобное для Вас время в любом месте! </p></div>
   <div class="col-sm-4 tpk" ><h2>Удобный интерфейс</h2><br><p>Все просто и интуитивно понятно. Вы легко найдете на сайте те курсы и тех преподавателей, которые Вам больше всего подходят!</p></div>
   <div class="col-sm-4 tpk" ><h2>Вы преподаватель?</h2><br><p>С нашей системой создания курсов делиться знаниями стало намного проще!</p></div>
  </div>
  </div>
