<div class="panel panel-default">
  <div class="panel-body">
      {{pageOwner.firstName}} {{pageOwner.lastName}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <ul class= "list-group">
      {{#each allGroups}}
        <li class ="list-group-item">
          <a href="/group/{{this._id}}">{{this.groupName}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
