<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
      {{#each allUsers}}
        <li class="list-group-item">
          <a href="/user/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
