.header {

  text-align: center;
  margin-bottom: 20px;
}

.content {

  margin: auto;
}

.footer-address {
  display: inline-block;
}

.footer-text {

  color: white;
}

.footer-text-right {
  display: inline-block;
  color: white;
  float: right;
}
