.header {

  text-align: center;
  margin-bottom: 20px;
}

.content {

  margin: auto;
}



.user {

  width: auto;
  height: 250px;
}


.user-info {
  font-size: 24px;
  width: auto;
  height: 30px;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.user-content {
  display: block;
}

.user-content-image {
  margin-left: 20px;
  height: 120px;
  width: 120px;
  display: inline-block;
}

.user-content-description {
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
  width: 70%;
  display: inline-block;
}







.footer-address {
  display: inline-block;
}

.footer-text {

  color: white;
}

.footer-text-right {
  display: inline-block;
  color: white;
  float: right;
}
