extends layout

block content
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") akadplus.ru
        .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
            ul.nav.navbar-nav.navbar-right
              li
                a(href="#")#fillBalance Баланс: &nbsp
              if user12
                li.dropdown
                  a( class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                    i(class="fa fa-user" aria-hidden="true") &nbsp #{user12.first_name}
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="#") User profile
                    li
                      a(href="/logout") Logout
              else
                li
                  a(href ="https://oauth.vk.com/authorize?client_id=5895475&display=page&redirect_uri=http://oknojapan.com:3000/login&scope=friends&response_type=code&v=5.62")#signin Sign In
