extends layout

block content
  body
    .container
      .panel.panel-default
        .panel-body
          h4.header.
            Успешный платеж!
          .content.
              Закройте эту страницу нажав на крестик в правом верхнем углу.
              Внимание: теперь, для того, чтобы в верхнем меню отображался корректный баланс
              совершите выход  и  авторизуйтесь снова. 
               
        
      
