extends layout

block content
  body
    .container
      .panel.panel-default
        .panel-body
          h4.header.
            Платеж не состоялся!
          .content.
            Возможно на карте недостаточно средств или реквизиты указаны неверно.
            Закройте эту страницу нажав на крестик в правом верхнем углу.

        
      
