extends layout

block content
  body
    .container
      .panel.panel-default
        .panel-body
          h4.header.
            Произошла ошибка!
          .content
             a(href ="/" )  Вернуться в личный кабинет. 
        
      
